<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <title>Valentines</title>
</head>

<body
    style="background-image: url('static/tulip.gif'); background-size:contain; background-position:-18% center; background-repeat: no-repeat; ">
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="border border-danger border-3 rounded-4 p-5 bg-light shadow col-12 col-md-6">
            <h3 class=" h3 text-danger text-start mb-4"><b>Dear Mahal,</b></h4>
                <p class="text-start" style="font-family:Verdana, Geneva, Tahoma, sans-serif">
                    Una sa lahat hindi ako marunong gumawa ng letter, Thank you mahal dahil nakilala kita sa buhay ko
                    kung wala ka wala ako piyesa jk.
                    I love you so much mahal nandiyan ka palagi nag susupport sakin, pag ubos ako ikaw lagi nandyan lalo
                    na pag wala ako pera hehehe.
                    Salamat mahal sa pag intindi sakin lagi na appreciate ko yun lalo na mga small or big gifts mo at
                    effort mo pumunta sakin dito.
                    Thankyouuuuuu Mahal Iloveyouuuuusomuchhhh pakaganda mo palagi.
                    <br>
                    <br>
                    Your Boyfriend,
                    <br>
                    <br>
                    <b class="text-danger">Jeff POGI😎</b>
                </p>
                <button class='btn btn-danger mt-3' data-bs-toggle="modal" data-bs-target="#kiss">Click me</button>
        </div>
    </div>

    <div class="modal fade" id="kiss" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-transparent border-0 text-center">

                <div class="modal-body">
                    <img src="static/cat.gif" class="img-fluid rounded" alt="cat meow">
                </div>

            </div>
        </div>
    </div>
</body>

</html>